<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fake Product Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Fake Product Analysis</h1>
        </header>
        <section class="main-content">
            <div class="box">
                <a href="{{ url_for('set_user_type', user_type='admin') }}">Admin</a>
            </div>
            <div class="box">
                <a href="{{ url_for('set_user_type', user_type='manufacturer') }}">Manufacturer</a>
            </div>
            <div class="box">
                <a href="{{ url_for('set_user_type', user_type='supplier') }}">Supplier</a>
            </div>
            <div class="box">
                <a href="{{ url_for('set_user_type', user_type='customer') }}">Customer</a>
            </div>
        </section>
    </div>
</body>
</html>