<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <form method="post" action="/login" class="login-form">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            {% if error_message %}
                <div class="error-message">
                    {{ error_message }}
                </div>
            {% endif %}
            <button type="submit" class="submit-btn">Log In</button>
    </form>
    <div class="register-container">
        <form method="post" action="/register" class="login-form">
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</body>
</html>