body {
    background: black;
    color: lightgreen;
    text-align: center;
    border: 4px solid lightgreen;
    padding-bottom: 20px;
    font-family: sans-serif;
}

.navbar {
    background: lightgreen;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: lightgreen;
    margin: 30px;
}

label {
    margin: 10px 0;
}

button {
    background-color: lightgreen;
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

input {
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

p {
    margin: 10px 0px;
}

.error-message {
    color: red;
    margin-top: 15px;
}